@page
@model SuppliesManagement.Pages.SuppliesManager.ChiTietHangModel
@{
}
@{
    var images = new List<string>();
    if (Model.HangHoa?.Image1 != null) images.Add($"data:image/jpeg;base64,{Convert.ToBase64String(Model.HangHoa.Image1)}");
    if (Model.HangHoa?.Image2 != null) images.Add($"data:image/jpeg;base64,{Convert.ToBase64String(Model.HangHoa.Image2)}");
    if (Model.HangHoa?.Image3 != null) images.Add($"data:image/jpeg;base64,{Convert.ToBase64String(Model.HangHoa.Image3)}");
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<style>
    .modal-fullscreen .modal-content {
        height: 100%;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="successAlert" class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (Model.HangHoa != null)
            {
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">
                            <i class="bi bi-box-seam"></i> Chi Tiết Hàng Hóa: @Model.HangHoa.TenHangHoa
                        </h4>
                        <button id="editButton" class="btn btn-light" onclick="toggleEdit()">Chỉnh sửa</button>
                        <a onclick="goBack()" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Quay Lại
                        </a>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="HangHoa.Id" />
                            <div class="row align-items-center">
                                <!-- Information Columns -->
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.TenHangHoa" class="form-label">
                                            <i class="bi bi-box-seam"></i> Tên Hàng Hóa:
                                        </label>
                                        <input asp-for="HangHoa.TenHangHoa" class="form-control" readonly />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.NhomHangId" class="form-label">
                                            <i class="bi bi-grid"></i>
                                            Nhóm Hàng:
                                        </label>
                                        <select asp-for="HangHoa.NhomHangId" asp-items="Model.NhomHangList"
                                            class="form-select" disabled>
                                            <option disabled value="">-- Chọn Nhóm Hàng --</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.DonViTinhId" class="form-label">
                                            <i class="bi bi-gear"></i>
                                            Đơn Vị Tính:
                                        </label>
                                        <select asp-for="HangHoa.DonViTinhId" asp-items="Model.DonViTinhList"
                                            class="form-select" disabled>
                                            <option disabled value="">-- Chọn Đơn Vị Tính --</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.DonGiaTruocThue" class="form-label">
                                            <i class="bi bi-cash"></i> Đơn Giá Trước Thuế:
                                        </label>
                                        <input asp-for="HangHoa.DonGiaTruocThue" class="form-control" readonly
                                            id="DonGiaTruocThue" />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.DonGiaSauThue" class="form-label">
                                            <i class="bi bi-cash"></i> Đơn Giá Sau Thuế:
                                        </label>
                                        <input asp-for="HangHoa.DonGiaSauThue" class="form-control" readonly
                                            id="DonGiaSauThue" />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.Vat" class="form-label">
                                            <i class="bi bi-currency-exchange"></i> Thuế (%):
                                        </label>
                                        <input asp-for="HangHoa.Vat" class="form-control" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @* <div class="mb-3">
                                <label asp-for="HangHoa.KhoHang.Ten" class="form-label"><i class="bi bi-box"></i>
                                Kho hàng:</label>
                                <input asp-for="HangHoa.KhoHang.Ten" class="form-control" readonly />
                                </div> *@
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.KhoHangId" class="form-label">
                                            <i class="bi bi-house-door"></i> Kho Hàng:
                                        </label>
                                        <select asp-for="HangHoa.KhoHangId" asp-items="Model.KhoHangList"
                                            class="form-select" disabled>
                                            <option disabled value="">-- Chọn Kho Hàng --</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.NgayNhap" class="form-label">
                                            <i class="bi bi-calendar"></i>
                                            Ngày Nhập:
                                        </label>
                                        <input asp-for="HangHoa.NgayNhap" class="form-control" readonly />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.TongGiaTruocThue" class="form-label">
                                            <i class="bi bi-cash"></i>Tổng Giá Trước Thuế:
                                        </label>
                                        <input asp-for="HangHoa.TongGiaTruocThue" class="form-control" readonly
                                            id="TongGiaTruocThue" />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.TongGiaSauThue" class="form-label">
                                            <i class="bi bi-cash"></i>Tổng Giá Trước Thuế:
                                        </label>
                                        <input asp-for="HangHoa.TongGiaSauThue" class="form-control" readonly
                                            id="TongGiaSauThue" />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.SoLuongConLai" class="form-label">
                                            <i class="bi bi-box-arrow-in-down"></i> Số Lượng Còn Lại:
                                        </label>
                                        <input asp-for="HangHoa.SoLuongConLai" class="form-control" readonly />
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="HangHoa.SoLuongDaXuat" class="form-label">
                                            <i class="bi bi-box-arrow-in-up"></i> Số Lượng Đã Xuất:
                                        </label>
                                        <input asp-for="HangHoa.SoLuongDaXuat" class="form-control" readonly />
                                    </div>
                                </div>
                                <!-- Image Column -->
                                <div class="col-md-4">
                                    <!-- Image Slideshow -->
                                    @if (images.Any())
                                    {
                                        <div id="productImageSlideshow" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                @for (int i = 0; i < images.Count; i++)
                                                {
                                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                                        <img src="@images[i]" class="d-block w-100 img-fluid rounded"
                                                            alt="Hình ảnh sản phẩm @(i + 1)"
                                                            style="max-height: 300px; object-fit: contain; cursor: pointer;"
                                                            onclick="openImageModal('@images[i]', @i)">
                                                    </div>
                                                }
                                            </div>
                                            @if (images.Count > 1)
                                            {
                                                <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#productImageSlideshow" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                    data-bs-target="#productImageSlideshow" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="text-muted">Không có hình ảnh</p>
                                    }

                                    <div class="mt-3 d-none" id="imageUploadSection">
                                        <label class="form-label">Cập nhật hình ảnh (tối đa 3 ảnh)</label>
                                        <input type="file" class="form-control" id="imageUpload" name="imageUpload" multiple
                                            accept="image/*" max="3">
                                        <small class="form-text text-muted">
                                            Chọn tối đa 3 ảnh. Định dạng hỗ trợ: JPG, PNG,
                                            GIF.
                                        </small>
                                    </div>

                                    <!-- Save Changes Button (initially hidden) -->
                                    <div class="mt-3 text-center d-none" id="saveChangesSection">
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                    </div>

                        </form>
                    </div>
                </div>
                @* <div class="card-footer text-center">
                    <a asp-page="./DanhSachHang" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Quay Lại
                    </a>
                </div> *@
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Không tìm thấy thông tin hàng hóa.
                </div>
                @* <div class="card-footer text-center">
                    <a asp-page="./DanhSachHang" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Quay Lại
                    </a>
                </div> *@
            }
        </div>
    </div>
</div>
@* <div class="mt-3 d-flex justify-content-end">
    <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="goBack()">
        <i class="bi bi-arrow-left-circle"></i> Quay lại
    </button>
</div> *@


<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Chi tiết hình ảnh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Chi tiết hình ảnh" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a id="downloadLink" href="#" class="btn btn-primary" download="product-image.jpg">Tải xuống</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleEdit() {
        const inputs = document.querySelectorAll('input.form-control, select.form-select');
        const editButton = document.getElementById('editButton');
        const imageUploadSection = document.getElementById('imageUploadSection');
        const saveChangesSection = document.getElementById('saveChangesSection');

        inputs.forEach(input => {
            if (input.tagName === 'SELECT') {
                input.disabled = !input.disabled;
            } else {
                input.readOnly = !input.readOnly;
            }
        });

        if (editButton.textContent === 'Chỉnh sửa') {
            editButton.textContent = 'Hủy chỉnh sửa';
            editButton.classList.remove('btn-light');
            editButton.classList.add('btn-danger');
            imageUploadSection.classList.remove('d-none');
            saveChangesSection.classList.remove('d-none');
        } else {
            editButton.textContent = 'Chỉnh sửa';
            editButton.classList.remove('btn-danger');
            editButton.classList.add('btn-light');
            imageUploadSection.classList.add('d-none');
            saveChangesSection.classList.add('d-none');
        }
    }

    function openImageModal(imageSrc, index) {
        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
        const modalImage = document.getElementById('modalImage');
        modalImage.src = imageSrc;
        modal.show();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const successAlert = document.getElementById("successAlert");
        if (successAlert) {
            setTimeout(() => {
                successAlert.style.display = "none";
            }, 10000);
        }
    });
    function goBack() {
        window.history.back();
    }
</script>