@page "{id:guid}"
@model SuppliesManagement.Pages.SuppliesManager.ChiTietHoaDonXuatModel
@{
    ViewData["Title"] = "HĐ xuất số " + @Model.HoaDonXuat.ID;
}
    <div class="video-container">
        <iframe 
        style="display: none;" 
            src="https://www.youtube.com/embed/D7IdVRly8AM?autoplay=1" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
<h2>Chi Tiết Hóa Đơn Xuất</h2>

<form method="post" asp-page-handler="Export" asp-route-id="@Model.HoaDonXuat.ID">
    <button type="submit" class="btn btn-primary">Xuất Excel</button>
</form>

<div>
    <h4>Thông Tin Hóa Đơn</h4>
    <dl class="row">
        <dt class="col-sm-3">Người Nhận:</dt>
        <dd class="col-sm-9">@Model.HoaDonXuat.NguoiNhan</dd>

        <dt class="col-sm-3">Lý Do Xuất:</dt>
        <dd class="col-sm-9">@Model.HoaDonXuat.LyDoNhan</dd>

        <dt class="col-sm-3">Kho Xuất:</dt>
        <dd class="col-sm-9">@Model.HoaDonXuat.KhoHang</dd>

        <dt class="col-sm-3">Ngày Xuất:</dt>
        <dd class="col-sm-9">@Model.HoaDonXuat.NgayNhan.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-3">Tổng Tiền chưa tính thuế (VNĐ):</dt>
        <dd class="col-sm-9">@Model.HoaDonXuat.ThanhTien.ToString("#,##0").Replace(',', '.')</dd>
    </dl>
</div>

<h4>Danh Sách Hàng Hóa</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Hàng Hóa</th>
            <th>Nhóm Hàng</th>
            <th>Đơn Vị Tính</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Thành Tiền</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HoaDonXuat.HangHoas.Count == 0)
        {
            <tr>
                <td colspan="8" class="text-center">Không có hàng hóa nào trong hóa đơn này.</td>
            </tr>
        }
        else
        {
            foreach (var hangHoa in Model.HoaDonXuat.HangHoas)
            {
                <tr>
                    <td>@hangHoa.TenHangHoa</td>
                    <td>@hangHoa.NhomHangName</td>
                    <td>@hangHoa.DonViTinh</td>
                    <td>@hangHoa.SoLuong</td>
                    <td>@hangHoa.DonGiaTruocThue.ToString("#,##0").Replace(',', '.')</td>
                    <td>@hangHoa.TongGiaTruocThue.ToString("#,##0").Replace(',', '.')</td>
                </tr>
            }
        }
    </tbody>
</table>
