@page
@model SuppliesManagement.Pages.DanhSachTaiKhoanModel
@{
    ViewData["Title"] = "Danh Sách Tài Khoản";
}
<h1>Danh Sách Tài Khoản</h1>
<a class="btn btn-primary" asp-page="./AddUser">Thêm mới tài khoản</a>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Tài khoản</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Quyền</th>
                <th>Xem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var taikhoan in Model.Accounts)
            {
                <tr>
                    <td>@taikhoan.Username</td>
                    <td>@taikhoan.Fullname</td>
                    <td>@(taikhoan.Gender == true ? "Nam" : "Nữ")</td>
                    <td>@taikhoan.Phone</td>
                    <td>@taikhoan.Email</td>
                    @if(taikhoan.RoleId == 2){
                        <td style ="color: red">Thủ kho</td>
                    }else{
                        <td style="color: purple">Người nhận hàng</td>
                    }          
                    <td><a asp-page="/Admin/UserDetail" asp-route-id="@taikhoan.Id" class="btn btn-primary">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    let password = document.getElementById('password');
    password.type = password.type == 'text' ? 'password' : 'text';
</script>